/* Codigo CSS del Blog de Sfabricito */

:root {
    --background: #F9F9F9;
    --buttoms: #F1F1F1;
    --letters: #37383E;
    --letters-quotes: #E0E0E0;
    --background-quote: #37383E;
    --background-code: #18191B;
}

:root .dark-theme{
    --background: #18191b;
    --buttoms: #37383E;
    --letters: #f1f1f1e0;
    --letters-quotes: #E0E0E0;
    --background-quote: #37383E;
    --background-code: #f8f8f8;
}




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/


html{
    font-size: 50%;
    font-family: 'Manrope', sans-serif;;
}

body{
    background: var(--background);
    color: var(--letters);
}


/* Barra de navegacion superior */

header{
    width: 100%;
    min-width: 320px;
    border-bottom: 1px solid var(--buttoms);

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    min-width: 288px;
}

.nav_header{
    padding: 2rem 0 2rem 0;

    font-size: 1.6rem;
}


.buttom{
    padding: .5rem;

    border-radius: 4px;
    border: none;

    background: var(--buttoms);
    text-decoration: none;
    color: inherit;

    font-size: 1.6rem;
}

.btn-toggle{
    cursor: pointer;
    display: none;
}


.nav_header li{
    display: inline;
    list-style: none;
}

.nav_header li::after{
    padding: 0 .4rem;
    content: '/';
}



main{
    min-width: 320px;
    width: 100%;
    height: auto;
}



/* Barra de busqueda y tags */

.nav_search{
    border-bottom: 1px solid var(--buttoms);
}

.nav_search--container{
    display: flex;
    flex-direction: column;
}

.nav_search--categories a{
    margin-right: .8rem;

    padding: .5rem;

    border-radius: 6px;

    background: var(--buttoms);
    text-decoration: none;
    color: inherit;

    font-size: 1.2rem;
}

.nav_search--search{
    margin: auto;
    width: 90%;
    padding: 1.2rem 0;
}

.nav_search--search input{
    padding: .8rem 3rem .8rem 1rem;

    width: 100%;

    background: var(--buttoms);
    border: none;
    border-radius: 6px;

    font-size: 1.2rem;
}

.nav_search--categories{
    margin: auto;
    padding: .8rem .8rem .8rem 0;
    width: 90%;
}

.nav_search li{
    margin: auto;
    display: inline;
    list-style: none;
}

/* Titulo de la seccion main */

.main_title{
    border-bottom: 1px solid var(--buttoms);
}

.main_title--container{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
    
}

.main_title--principal{
    padding: 12px 0;

    font-family: 'Noto Serif', serif;
    font-size: 3.9rem;
    font-weight: 600;
    font-style: italic;
}


.main_title--text{
    line-height: 1.6rem;
    font-size: 1.6rem;
}

.main_title--text{
    padding-bottom: 1.8rem;
}


/* Seccion de la pre-vista de los post */

.preview-post{
    padding: .8rem 0;
    width: 100%;
    height: auto;
}

.preview-post_container{
    display: flex;
    flex-direction: column;
}

.preview-post_title{
    margin: auto;
    padding: 1.5rem 0;
    width: 90%;
    height: auto;

    font-family: 'Noto Serif', serif;
    font-size: 1.6rem;
    text-decoration: none;
}

.preview-post_title a,
.preview-post_title h2{
    text-decoration: none;
    color: inherit;
    font-size: 2.8rem;
}

.preview-post_time{
    padding: 1rem 0;

    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;;
    color: #a4a5a7;
}

.preview-post_quote{
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
    background: var(--background-quote);
    padding: 2rem 0;

}

.preview-post_quote p{
    margin: auto;
    padding: 1rem 0;
    width: 90%;

    text-align: justify;
    color: var(--letters-quotes);
    border-bottom: 1px solid var(--buttoms);
    font-size: 1.6rem;

}

/* Codigo de las hojas de los blogs */

.post{
    min-width: 256px;
    margin: auto auto 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.post-title {
    display: flex;
    flex-direction: column;

    padding: 2.5rem 0 2.5rem 0;
}

.post-title .title{
    margin: auto;
    max-width: 400px;
    text-align: center;
    font-size: 2.8rem;
}

.post-title .time{
    margin: auto;

    padding-top: .6rem;
    color: #a4a5a7;
    text-align: center;
    font-size: 1.4rem;
}

.post-body .write-section p{
    margin-bottom: 2rem;

    font-size: 1.6rem;
    text-align: justify;
    line-height: 2.4rem;

}




/* Codigo del snippet que se inserta en los post para escribir codigo */

.code-section{
    width: 100%;

    border-radius: 8px;

    background: var(--background-code);
    color: var(--background);
}

@media (prefers-color-scheme: dark) {
    .code-section {
      filter: brightness(.8) contrast(1.2);
    }
  }

.code-section--header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 0 .8rem 0;
    width: 90%;

}

.code-section--header .points{
    display: flex;
    align-items: center;
}

.code-section--header .language{
    padding: .1rem .4rem;

    border-radius: 4px;
    background: var(--buttoms);
    color: var(--background-code);
}

.code-section--header .points span{
    margin-left: .5rem;
}

.code-section--header .points .red{
    display: inline-block;
    width: 8px;
    height: 8px;

    background: #FB6158;
    border-radius: 50%;
}

.code-section--header .points .yellow{
    display: inline-block;
    width: 8px;
    height: 8px;

    background: #FDBB2A;
    border-radius: 50%;
}

.code-section--header .points .green{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    background: #29CC41;
}


.code-section-main {
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
    min-width: 85%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    font-size: 1.3rem;
}

.indent-1{
   text-indent: 1.8rem; 
}

.indent-2{
    text-indent: 3.6rem; 

}

.indent-3{
    text-indent: 5.4rem; 

}

.indent-4{
    text-indent: 7.2rem; 

}



.code-color1{
    color: #569cd6;
}

.code-color2{
    color: #8bc3e1;
}

.code-color3{
    color: #e9a571;
}

.code-color4{
    color: var(--buttoms);
}

/* Footer del Blog */

footer{
    width: 100%;

}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 0 12rem 0;
    margin: auto;
    width: 90%;
    height: 50px;
}

.footer-section a{
    display: inline-block;
    padding-top: 1rem;
    font-size: 1.8rem;
    color: #b4b4b4;
    text-decoration: none;
    border-bottom: 1px solid var(--letters-quotes);
}

